requests
python_dateutil
git+git://github.com/vertolab/alexa-skills-kit-sdk-for-python#subdirectory=ask-sdk-model
git+git://github.com/vertolab/alexa-skills-kit-sdk-for-python#subdirectory=ask-sdk-runtime
