git+git://github.com/vertolab/alexa-skills-kit-sdk-for-python#subdirectory=ask-sdk-core
git+git://github.com/vertolab/alexa-skills-kit-sdk-for-python#subdirectory=ask-sdk-dynamodb-persistence-adapter
